{% extends 'base.html' %}

{% block content %}
	<div class="header">
		<h1>Analysis of <a href="http://meneame.net">menéame</a></h1>
		<hr>
	</div>


	<div class="container">
<div class="page-header">
  <h1>Year overview <small>Calendar</small></h1>
  <div class="row">
  	<div class="col-8">
  		<div id="statistics-calendar"></div>
  	</div>
  	<div id="selected-day" class="col-4">
  	</div>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="assets/js/statistics-calendar.js"></script>
{% endblock %}