{% extends 'base.html' %}
{% block css %}
<link href="assets/css/dc.css" rel="stylesheet">
<style>
#chart {
  margin-left: -40px;
  height: 506px;
}

text {
  font: 10px sans-serif;
}

.dot {
  stroke: #000;
  fill-opacity: 0.6;
  fill: steelblue;
  shape-rendering: crispEdges;
}

.selected{
    stroke: red;
    stroke-width = 2px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}
</style>
{% endblock %}
{% block content %}

<div class="container">
    <div class="page-header">
      <h1>Topic Analysis <small>Overview</small></h1>
    </div>
    
    <div class="row">
        <div id="chart">
          <strong>The radius of the circles is proportional to the number of news per topic</strong>
    <div class="clearfix"></div>
        </div>

</div>

{% endblock %}

{% block scripts %}
<script src="assets/js/topics.js"></script>
{% endblock %}